@import url("https://fonts.googleapis.com/css?family=Unbounded|Didact+Gothic:wght@200;300;400;500;600;700;800;900&subset=latin,latin-ext");

body {
  margin: 0;
  backdrop-filter: blur(5px);
  font-family: "Unbounded", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main: #2e29365c;
  --accent: #ffffff;
  --dark: #181620;
  --shadow: 14px 14px 0px -4px #4c4c45;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.info-p,
button,
input,
input::placeholder {
  font-family: "Didact Gothic";
  color: var(--accent);
  font-size: 17px;
}

.info-p,
button,
input {
  font-size: 15px;
}