.app-search-panel {
    border-radius: 12px;
    margin-top: 25px;
    color: var(--accent);
    box-shadow: var(--shadow);
    background-color: var(--main);
    border: 3px solid var(--accent);
}

.app-search-input {
    width: calc(100% - 16px);
    border-radius: 6px 6px 0 0;
    padding: 6px;
    color: var(--accent);
    background-color: var(--accent);
    border: 2px solid var(--accent);
    height: 32px;
    font-size: 16px;
}

.btn {
    border-radius: 6px;
    border: 2px solid var(--accent);
    padding: 8px 16px;
    margin-right: 16px;
}