.app {
    height: 100dvh;
    width: 100dvw;
    overflow-y: scroll;
    background: url("../assets/01.jpeg") top / cover no-repeat;
}

.content {
    display: grid;
    grid-template-columns: 560px 440px;
    max-width: 1040px;
    margin: 0 15% 0 auto;
    padding-top: 50px;
    
    &__interactive {
        padding-left: 40px;
    }
}